.tournament-container {
    width: 1000px;
    height: 200px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    background-color: #c0c0c0;
    margin-bottom: 50px;
  }

  .tournament-name {
    font-weight: bold;
    font-size: 50px;
  }

  /*
  Add:
  tournament name
  course
  location
  link to leaderboard
  Maybe make the background a picture with a transparent gray overlay
  */

  