@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #c0c0c0;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

html,
body {
  font-family: var(--font-mono);
  background-color: var(--primary-color);
}
